services:
  db:
    image: postgres:16
    env_file: .env
    hostname: chats_db
    ports:
      - 5432:5432
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    env_file: .env
    environment:
      WAIT_HOSTS: chats_db:5432
    depends_on:
      - db
    ports:
      - 8000:8000
    volumes:
      - ./src:/app/src

volumes:
  pgdata:
